
      html body {
        background-color: thistle;
    
    }
      
      
      body {
        
        background-color: thistle;
        background-repeat: no-repeat;
        background-size: cover;
      }

      
     
      h1{

        color: darkmagenta;
        text-align: center;
        
      }

      .heading {
        color: darkmagenta;
      
      }

    

     h2{
          color:darkmagenta;
          text-align: center;
      }

      p{
          text-align: center;
          color: darkmagenta;
          font-size: 20px;
          font-style: inherit;
          background-color: lightgrey;
          width: 1250px;
          border: 15px solid darkmagenta;
          padding: 30px;
          margin: 20px;
          
          
      }
      

     
      
      

      h3{
          text-align: center;
      }
      
      footer {

         position: absolute;
         bottom: 10px;
         width:  100px;
      }


      .main-footer {
        background-color: thistle;
        width: 100%;
        padding: 2px 0 2px 0;
        box-shadow: 1px 1px 10px rgb(119 119 119 / 20%);
        color: thistle;
        position: relative;
        margin-top: auto;
    }
      
    
