
      
    
      
      
      body {
        
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;
      }

      #logo{ 
        position:fixed; 
        top:0; 
        left:0; 
      } 

      .animate {
        padding-left: 500px;
      }
     
      

      h1{

        color: teal;
        text-align: center;
        
      }

      .scroll {
        color: teal;
        
  
      }

      .banner {
        position: center;
        padding-left: 200px;
      }

      .column {
        float: right;
        width: 33.33%;
        padding: 5px;
        padding-top: 50px;
      }
      
      /* Clear floats after image containers */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
    

     h2{
          color:teal;
          text-align: center;
      }

      .intro {
          text-align: center;
          color: teal;
          font-size: 25px;
          font-style:inherit;
          
          width: 1000px;
          
          padding: 30px;
          margin: 0px 0px 0px;
         
          position:relative;
          left: 200px;
          top: 2px;

          
          
          
    
      }

      #claire {
        position: center;
        padding-left: 580px;
      }

      
 
      

      h3{
          text-align: center;
      }
      
      footer {

         position: fixed;
         bottom: 0px;
         width:  1000px;
      }

      