html body {
    background-color: powderblue;
}



.wireframeA {
    color: blue;
    text-align: center;
}

.wireframeB {
    color: blue;
    text-align: center;
}

body {
    text-align: center;
    
}

